* {
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
	box-sizing: border-box;
}

.navbar{
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-left: 2.5rem;
	padding-top: 1.25rem !important;
	padding-bottom: 1.25rem !important
}

.navbar .logo-text {
	display: flex;
	align-items: center;
	padding: .5rem;
	margin-right: 1rem;
	text-decoration: none;
	color:black;
	width: auto;
}

.navbar .logo-text .logo-img{
	max-height: 60px;
	padding-right: 15px;
}

.navbar .items {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.navbar .items a {
	font-size: 1.25rem;
	margin-left: .75rem;
	margin-right: .75rem;
	padding-top: .75rem;
	padding-bottom: .75rem;
	text-decoration: none;
	color:black;
	font-weight: 700;
}

.navbar .items a:hover {
	text-decoration: underline;
}

.home {
	min-height: 87vh;
	margin-left: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.home .home-text{
	color:black;
	line-height: 1.25;
	font-size: 5rem;
	font-weight: 900;

}

.side-home-img {
	justify-content: right;
	height: 86vh;
}


.cursor::after {
	content: "";
	width: 6px;
	height: 80px;
	background: black;
	display: inline-block;
	padding: 1px;
	animation: cursor-blink 1.5s steps(2) infinite;
  }


@keyframes cursor-blink {
	0% {
	  opacity: 0;
	}
  }
  

/* body {
	font-family: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	background-color: white;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
} */

button {
	cursor: pointer
}